<section class="list">
    {{selected.career}}
    <ul>
    {{#each career in model}}
        <li>
            <a {{action "pick1" career}}>
                {{#if career.loaded}}
                    {{#if career.expanded}}
                        &#9662;
                    {{else}}
                        &#9656;
                    {{/if}}
                {{/if}}
                {{render_career career}}
            </a>
            {{#if career.expanded}}
                <ul>
                {{#each level in career.levels}}
                    <li>
                        <a>
                            {{render_level level}}
                        </a>
                    </li>
                {{/each}}
                </ul>
            {{/if}}
        </li>
    {{/each}}
    </ul>
</section>

